<style>
    .chat {
            display: block;
           
        
            margin-bottom: 20px;
        }
    
            .chat .chat-message {
                width: 80%;
                padding: 15px;
                margin: 5px 10px 0;
               text-align:justify;
                border-radius: 10px;
                
                font-size: 18px;
            }

</style>

<ion-view title="Contact">
    <ion-content class="has-header">

        <ion-pane class="messaging-view" style="background-image:url(../img/wall.jpg)">
            

            <ion-content class="content-stable"
                         on-swipe-left="hideTime = false"
                         on-swipe-right="hideTime = true">

                <div ng-repeat="message in messages"
                     ng-class="{other: message.userId != myId}"
                     class="chat self" style="color:white">

                    <div class="message" style="color:white" ng-class="{'slide-right': hideTime, '': !hideTime}">
                        <span class="chat-message">{{ message.text }}<span style="float:right">{{message.time}}</span></span>
                        
                    </div>

                    

                </div>

            </ion-content>

            <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
                </label>
                <button class="button button-clear" ng-click="sendMessage()">
                    Send
                </button>
            </ion-footer-bar>
        </ion-pane>
   
    </ion-content>
</ion-view>