<div class="modal">
    <ion-header-bar>
        <h1 class="title">First Page</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doPage1()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Comment</span>
                    <textarea id="texta" style="resize:none"></textarea>
                </label>
                
                <label class="item">
                    <button id="login_button" class="button button-block button-positive" type="submit">Next page</button>
                </label>

            <!--    <center class="item"><a role="button" ng-click="signup()">Sign up</a></center>-->
            </div>
        </form>
    </ion-content>
</div>
